{% extends 'mailings/base.html' %}

{% block title %}Добавить попытку рассылки{% endblock %}

{% block content %}
<h1>Добавить попытку рассылки</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_attempt_time" class="form-label">Время попытки</label>
        {{ form.attempt_time }}
    </div>
    <div class="mb-3">
        <label for="id_status" class="form-label">Статус</label>
        {{ form.status }}
    </div>
    <div class="mb-3">
        <label for="id_server_response" class="form-label">Ответ сервера</label>
        {{ form.server_response }}
    </div>
    <div class="mb-3">
        <label for="id_mailing" class="form-label">Рассылка</label>
        {{ form.mailing }}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'attempt_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}
